* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --bg-color-1: #000000;
    --bg-color-2: #000000b2;

    --text-color-1: #ffffff;
    --text-color-2: #00ffff;
}

#nav{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1440px;
    z-index: 10;

    .nav_bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        padding: 1rem;
        background-color: var(--bg-color-1);
    
        .logo{
            color: var(--text-color-1);
            line-height: 20px;
            font-size: 13px;
        }

        .menu{
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;
            transform: translateX(100%);
            background-color: var(--bg-color-2);
            width: 300px;
            height: 100dvh;
            padding: 1rem;
            transition: all 0.5s ease-in;

            .menu_box{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                width: 100%;
                margin-top: 7rem;

                .menu_list{
                    list-style: none;
                    padding: 0.5rem 1rem;
                    border: 1px solid var(--bg-color-2);
                    width: 100%;
                    border-radius: 15px;
                    align-items: center;
                    text-align: center;
                    text-decoration: none;
                    color: var(--text-color-1);
                    font-weight: 700;
                    width: 100%;
                }
            }

            .menu_icons{
                display: flex;
                width: 100%;
                padding: 1rem;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 2rem;

                .icon_link{
                    text-decoration: none;
                    color: var(--bg-color-1);
                }
            }
        }
        
        .active{
            transform: translateX(0%);
        }

        .hamberger{
            color: var(--text-color-1);
            z-index: 1;
            cursor: pointer;
            padding: 1rem;
        }
    }
}

#hero{
    position: relative;
    margin-top: 5rem;
    align-items: center;
    max-width: 1440px;

    .hero_container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background: linear-gradient(160deg, var(--bg-color-1) 30%, transparent 80%, #fff);
        padding: 1rem;
        box-shadow: 3px 5px 10px 0px var(--bg-color-1);
        border-radius: 0px 0px 15px 15px;

        .hero_info_one{
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            width: 100%;
            color: var(--text-color-1);

            h1{
                font-size: 30px;
                text-decoration: underline;
                color: var(--text-color-2);
            }
            p{
                line-height: 18px;
                padding-top: 0.5rem;
            }
        }

        .hero_images{
            position: relative;
            display: flex;
            width: 100%;
            margin-top: 4rem;
            gap: 1rem;
            padding: 0.5rem 0.5rem;

            .image_one{
                width: 200px;
                height: 300px;
                background: gainsboro;
                border-radius: 15px;
                overflow: hidden;
            }
            .image_two{
                width: 200px;
                height: 250px;
                background: gainsboro;
                border-radius: 15px;
                overflow: hidden;
            }
        }
    }
}

#service{
    position: relative;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    max-width: 1440px;

    .service_container{
        display: flex;
        flex-direction: column;
        padding: 1rem;

        .service_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;

            .service_info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: start;
                width: 100%;
                padding: 1rem 0.5rem;
                border-radius: 15px;
            }

            .service_details{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: start;
                gap: 3rem;
                margin-top: 3rem;

                .service_details_box{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    .box_image{
                        width: 180px;
                        height: 180px;
                    }
                    .box_info{
                        padding-left: 0.5rem;

                        p{
                            font-size: clamp(14px, 2vw, 18px);
                            padding: 1rem 0rem;
                        }
                        a{
                            text-decoration: none;
                            color: var(--text-color-1);
                            padding: 0.3rem 1rem;
                            margin-top: 2rem;
                            background: var(--bg-color-1);
                            border-radius: 15px;
                        }
                    }
                }
            }
        }
    }
}

#main_goal{
    position: relative;
    align-items: center;
    text-align: center;
    max-width: 1440px;
    margin-top: 2rem;

    /* .main_heading{

    } */

    .main_goal_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .stats{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 1rem;

            .range{
                display: flex;
                justify-content: space-evenly;
                padding: 0.5rem 1rem;

                .stats_first, 
                .stats_to, 
                .stats_after{
                    padding: 0.2rem 1.5rem;
                    border-radius: 15px;
                    border: 1px solid var(--bg-color-1);
                    cursor: pointer;
                }
            }
            .numbers{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 1rem;
            }

            @property --num {
                syntex: "<integer>";
                initial-value: 0;
                inherits: false;
            }
            .count_numbers{
                --target: 1000;
                counter-reset: score var(--num);
                animation: countUp 2s forwards;

            }
            .count_numbers::after{
                content: "R" counter(score);
            }

            @keyframes countUp{
                from {
                    --num: 0;
                }
                to {
                    --num: var(--target);
                }
            }
        }
    }
}


