<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/8b3cdec8fc.js" crossorigin="anonymous"></script>
    <title>Home Page</title>
</head>
<body>
    <section id="nav">
        <div class="nav_bar">
            <div class="logo">
                <h1>Koded <br> Minds</h1>
            </div>
            <ul class="menu">
                <div class="menu_box">
                    <a href="#" class="menu_list">Home</a>
                    <a href="#" class="menu_list">Services</a>
                    <a href="#" class="menu_list">About</a>
                    <a href="#" class="menu_list">Main Goal</a>
                    <a href="#" class="menu_list">Packages</a>
                    <a href="#" class="menu_list">Contact</a>
                </div>
                <div class="menu_icons">
                    <a href="" class="icon_link"><i class="fa-brands fa-facebook"></i></a>
                    <a href="" class="icon_link"><i class="fa-brands fa-instagram"></i></a>
                    <a href="" class="icon_link"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </ul>
            <div class="hamberger">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </section>

    <section id="hero">
        <div class="hero_container">
            <div class="hero_info_one">
                <h1>Main Objective is</h1>
                <p>Communication <br> Credability <br> Accessibility </p>
            </div>
            <div class="hero_images">
                <div class="image_one">
                    <img src="" alt="">
                </div>
                <div class="image_two">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="service">
        <div class="service_container">
            <div class="service_box">
                <h1>Our Services</h1>
                <div class="service_info">
                    <p>Likes and impressions are great, but they don't pay the bills. If your current marketing efforts aren't predictably generating qualified leads, booking calls, or sales, your strategy has a leak</p>
                    <hr>
                    <p>We are a full-service digital marketing agency that bridges the gap between traffic and revenue. We don't just run ads, we build holistic growth systems tailored to your business model.</p>
                </div>
                <div class="service_details">
                    <div class="service_details_box">
                        <img src="" alt="" class="box_image">
                        <div class="box_info">
                            <hr style="height: 3px;background: #000;border: none;border-radius: 50%;">
                            <h2>Website</h2>
                            <p>We design and build fast, responsive, and secure websites tailored to your specific goals. Whether you need a sleek landing page, a professional corporate site, or a fully functional e-commerce store, we handle the process from initial concept to launch.</p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="service_details_box">
                        <img src="" alt="" class="box_image">
                        <div class="box_info">
                            <hr style="height: 3px;background: #000;border: none;border-radius: 50%;">
                            <h2>Social Media</h2>
                            <p>Consistency on social media is only half the battle. If your content isn't actively building trust, engaging your ideal buyers, and funnelling traffic to your website, you are leaving oppetunity to new clients</p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="service_details_box">
                        <img src="" alt="" class="box_image">
                        <div class="box_info">
                            <hr style="height: 3px;background: #000;border: none;border-radius: 50%;">
                            <h2>Photographe</h2>
                            <p>Your visual content is the very first impression potential clients have of your buisness. if it doesn't look premium, they will look elsewhere. We specialize in high-quality photography that elevates your identity, showcases you uniqe style and your buisness.</p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="main_goal">
        <h1 class="main_heading">Main Goal</h1>
        <div class="main_goal_container">
            <div class="stats">
                <div class="range">
                    <p class="stats_first" onclick="updateCounter(1000)">first</p>
                    <p class="stats_to" onclick="updateCounter(10000)">To</p>
                    <p class="stats_after" onclick="updateCounter(100000)">After</p>
                </div>
                <div class="numbers">
                    <h1 class="count_numbers"></h1>
                </div>
            </div>
        </div>
    </section>


    
    <script src="../static/app.js"></script>
</body>
</html>